# placeholders to keep directories
!.keep

# folders to remove
venv*/
data/*
old*
backup.txt

# extensions to remove
*.egg-info
*pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg*
.ipynb_checkpoints/
.DS_Store

# placeholders to keep directories
!**/.keep
!**/.gitignore
!.gitignore
!.keep
